body {
    background-color:darkslategrey;
}

.timer {
    width: 100px;
    text-align: center;
    justify-content: center;
    display: flex;
    position: relative;
    top: 200px;
    color: whitesmoke;
    border: 1px solid white;
    
}