body {
    background-color:darkslategrey;
}

.timer {
    font-size: 80px;
    font-family: monospace;
    color: white;
    width: 500px;
    padding: 10px 15px;
    text-align: center;
    margin-top: 200px;
    border: 1px solid white;
    background-color: black;
    position: relative;
    left: 500px;
    border-radius: 10px;
    box-shadow:  0 8px 30px whitesmoke; 
    transition: box-shadow 0.3s ease;;
}